{% extends 'base.html' %}

{%block content%}
<h2>Home</h2>
<p>Welcome to Pet Adoption, a site for finding your next pet.</p>

{%if not pets%}
<p>Sorry, no pets are available right now.</p>

{%else%}
<h3>Available Pets</h3>
<ul>
    {%for pet in pets%}
    <li style="list-style-type: none;">
        <a href="{{pet.id}}">
            <img src="{{pet.photo_url}}" width="100" height="100">
            {{pet.name}} the {{pet.species}}
        </a>
        {% if pet.available %}
        <strong>Available</strong>
        {% endif %}
    </li>
    {%endfor%}
</ul>
{%endif%}

<h4>Have a pet that needs adoption?</h4>
<a class='btn btn-success' href='/add'>Add a Pet</a>

{%endblock%}